# -*- mode: ruby-ts -*-
# vim: filetype=ruby

# Homebrew extensions
brew "whalebrew" # Docker image installer
brew "mas"       # MacOS App Store application installer

# Shells
brew "nushell"
brew "elvish"
brew "fish"
brew "zsh"
brew "bash"

# Key mapper
cask "karabiner-elements"
