# -*- mode: ruby-ts -*-
# vim: filetype=ruby

# Shells
brew "zsh"
brew "bash"

# Key mapper
cask "karabiner-elements"

# Fonts
cask "font-fira-code-nerd-font"

# CLIs
brew "mise"                              # Tool version manager
brew "git"                               # VCS
brew "git-absorb"                        # Git utility for fixups
brew "just"                              # Command runner
brew "chezmoi"                           # Dotfile manager
brew "zoxide"                            # Change directory
brew "eza"                               # List files
brew "bat"                               # View files
brew "bat-extras"                        # Bat utilities
brew "fd"                                # Find files
brew "ripgrep"                           # Search files
brew "ripgrep-all"                       # Ripgrep utilities
brew "git-delta"                         # Compare files
brew "sd"                                # Search and replace files
brew "choose"                            # Extract text from files
brew "rust-parallel"                     # Parse arguments and execute commands
brew "pueue"                             # Background task executor
brew "watchexec"                         # File watcher
brew "scc"                               # Code counter
brew "hyperfine"                         # Benchmarking
brew "procs"                             # View running processes
brew "ouch"                              # Compress and decompress files
brew "age"                               # Encryption
brew "gojq"                              # JSON toolkit
brew "taplo"                             # TOML toolkit
brew "yq"                                # JSON, TOML, YAML, XML and CSV toolkit
brew "precious"                          # Linter and formatter
brew "lefthook"                          # Git hook manager
brew "tree-sitter-cli"                   # Treesitter parser generator
brew "make"                              # Build system
brew "gnupg"                             # Encryption and signing
brew "gh"                                # GitHub client
brew "podman"                            # Containerization
brew "podman-compose"                    # Containerization
brew "colima", restart_service: :changed # Containerization
brew "docker"                            # Containerization
brew "kubernetes-cli"                    # Container orchestration

# TUIs
brew "fzf"        # Fuzzy finder
brew "yazi"       # Filesystem explorer
brew "neovim"     # Text editor
brew "lazygit"    # Git client
brew "zellij"     # Terminal multiplexer
brew "bottom"     # System monitor
brew "podman-tui" # Podman client
brew "lazydocker" # Docker client
brew "k9s"        # Kubernetes client

# GUIs
brew "pinentry-mac"  # Passphrase dialog
cask "brave-browser" # Browser
cask "ghostty"       # Terminal
cask "emacs-app"     # Text editor
cask "neovide-app"   # Text editor
cask "utm"           # Virtualisation and emulation
cask "bitwarden"     # Password manager
# Proprietary
cask "raycast"            # Application launcher
cask "visual-studio-code" # Text editor
cask "okta-verify"        # Authenticator
cask "notion"             # Note taker
cask "slack"              # Instant messenger
cask "zoom"               # Video caller

# Shell utilities
brew "starship" # Prompt
brew "atuin"    # History
brew "carapace" # Autocompletion
# Autocorrection # TODO: Add to official registry
tap "timescam/tap"
brew "timescam/tap/pay-respects"

# Bash
brew "bash-language-server" # Language server
brew "shellcheck"           # Linter
brew "shfmt"                # Formatter

# Lua
brew "lua-language-server" # Language server
brew "luacheck"            # Linter
brew "stylua"              # Formatter

# Fennel
brew "fennel"
brew "fennel-ls" # Language server
brew "fnlfmt"    # Formatter

# Rust
brew "rust"
brew "cargo-binstall" # Binary installer
brew "rust-analyzer"  # Language server

# Go
brew "go"
brew "gopls"          # Language server
brew "staticcheck"    # Linter
brew "gofumpt"        # Formatter
brew "delve"          # Debugger
brew "mockery"        # Mock generator
brew "golang-migrate" # Migration manager

# JavaScript
brew "node"
brew "deno"
# TODO: Enable this
# brew "bun"
brew "biome" # Language server, linter and formatter
brew "pnpm"  # Version manager, package manager, project manager, command runner and binary installer
brew "vite"  # Build tool

# Python
brew "python"
brew "uv"   # Version manager, package manager, project manager, command runner and binary installer
# TODO: Enable this
# brew "ty"   # Type checker and language server
brew "ruff" # Linter and formatter

# Protobuf
brew "protobuf"
brew "buf" # Language server, linter and formatter

{{ if eq .profile "default" -}}
# Default profile

# GUIs
cask "proton-pass"  # Password manager
cask "proton-drive" # Cloud storage
# Proprietary
cask "dropbox"      # Cloud storage
cask "onedrive"     # Cloud storage
cask "google-drive" # Cloud storage
{{- else if eq .profile "cyberhaven" -}}
# Cyberhaven profile

# CLIs
brew "qemu"                        # Virtualisation and emulation
brew "lima"                        # Virtualisation
brew "lima-additional-guestagents" # Virtualisation
brew "sqlcmd"                      # MS SQL client
brew "awscli"                      # AWS client
brew "azure-cli"                   # Azure client
# Proprietary
cask "gcloud-cli"                  # Google Cloud client

# GUIs
cask "logseq"             # Note taker
cask "bruno"              # API client
cask "dbeaver-community"  # DB client
# Proprietary
cask "google-chrome"      # Browser
cask "warp"               # Terminal
cask "obsidian"           # Note taker
cask "postman"            # API client
cask "chatgpt"            # GenAI
{{- end }}
