# -*- mode: ruby-ts -*-
# vim: filetype=ruby

# Shells
brew "zsh"
brew "bash"

# Key mapper
cask "karabiner-elements"

# Fonts
cask "font-fira-code-nerd-font"

# CLIs
brew "mise"                              # Tool version manager
brew "git"                               # VCS
brew "git-absorb"                        # Git utility for fixups
brew "just"                              # Command runner
brew "chezmoi"                           # Dotfile manager
brew "zoxide"                            # Change directory
brew "eza"                               # List files
brew "bat"                               # View files
brew "bat-extras"                        # Bat utilities
brew "fd"                                # Find files
brew "ripgrep"                           # Search files
brew "ripgrep-all"                       # Ripgrep utilities
brew "git-delta"                         # Compare files
brew "sd"                                # Search and replace files
brew "choose"                            # Extract text from files
brew "rust-parallel"                     # Parse arguments and execute commands
brew "pueue"                             # Background task executor
brew "watchexec"                         # File watcher
brew "scc"                               # Code counter
brew "hyperfine"                         # Benchmarking
brew "procs"                             # View running processes
brew "ouch"                              # Compress and decompress files
brew "age"                               # Encryption
brew "gojq"                              # JSON toolkit
brew "taplo"                             # TOML toolkit
brew "yq"                                # JSON, TOML, YAML, XML and CSV toolkit
brew "precious"                          # Linter and formatter
brew "lefthook"                          # Git hook manager
brew "tree-sitter-cli"                   # Treesitter parser generator
brew "make"                              # Build system
brew "gnupg"                             # Encryption and signing
brew "gh"                                # GitHub client
brew "podman"                            # Containerization
brew "podman-compose"                    # Containerization
brew "colima", restart_service: :changed # Containerization
brew "docker"                            # Containerization
brew "kubernetes-cli"                    # Container orchestration

# TUIs
brew "fzf"        # Fuzzy finder
brew "yazi"       # Filesystem explorer
brew "neovim"     # Text editor
brew "lazygit"    # Git client
brew "zellij"     # Terminal multiplexer
brew "bottom"     # System monitor
brew "podman-tui" # Podman client
brew "lazydocker" # Docker client
brew "k9s"        # Kubernetes client

# GUIs
brew "pinentry-mac"  # Passphrase dialog
cask "brave-browser" # Browser
cask "ghostty"       # Terminal
cask "emacs-app"     # Text editor
cask "neovide-app"   # Text editor
cask "utm"           # Virtualisation and emulation
# Proprietary
cask "raycast" # Application launcher

# Shell utilities
brew "starship" # Prompt
brew "atuin"    # History
brew "carapace" # Autocompletion
# Autocorrection # TODO: Add to official registry
tap "timescam/tap"
brew "timescam/tap/pay-respects"

{{ if eq .profile "default" -}}
# Default profile

# GUIs
cask "proton-pass"  # Password manager
cask "proton-drive" # Cloud storage
# Proprietary
cask "dropbox"      # Cloud storage
cask "onedrive"     # Cloud storage
cask "google-drive" # Cloud storage
{{- end }}
