[settings]
experimental = true                      # TODO: Remove this
idiomatic_version_file_enable_tools = [] # TODO: Remove this

{{ includeTemplate (printf "config/mise/config.%s.toml" .profile) -}}
